* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  line-height: 1.6;
  margin-top: 4px;
  /* background-color: #343a40; */
  background-image: url("./Assets/particles.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Nav style */
.main-header {
  padding: 4px;
  box-shadow: 0px 0px 10px #830a0a;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  /* position:fixed; */
  width: 100%;
  /* background-color: #f4f4f4; */
}
.main-logo {
  width: 100px;
  height: 50px;
}

#main-nav-ul {
  list-style: none;
  display: grid;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

#main-nav-ul li a {
  text-decoration: none;
}
#main-nav-ul li a:hover {
  color: #007bff;
}

/* hero */
.hero {
  /* background-color: whitesmoke; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 2px;
}

.hero-content h1 {
  font-size: 3rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

.hero-button:hover {
  background-color: #0056b3;
}

/* About Section */
.about {
  padding: 0px 0px;
  text-align: center;
  /* background-image: url("./Assets/programmin.webp"); */
  background-color: rgba(105, 105, 83, 0);
  /* margin-top: 10px; */
  color: rgb(255, 255, 255);
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  max-width: 900px;
  margin: 0 auto 20px;
  font-weight: bolder;
  font-size: larger;
  background-color: black;
  border-radius: 20px;
}

.about-img {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Curriculum Section */
.curriculum {
  padding: 50px 20px;
  text-align: center;
  color: white;
}
.curriculum h2{
font-size: 2rem;
}

.courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.module {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.module img {
  width: 80px;
}

.module h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Footer */
footer {
  /* background-color: rgb(43, 29, 12); */
  color: white;
  padding: 20px;
  text-align: center;
  line-height: 1.6;
}

footer .socials a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

footer .newsletter input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

footer .newsletter button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
footer .newsletter button:hover {
  background-color: #0056b3;
}
